.notice {
  background: tomato;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 3px;
  color: white;

  span {
    padding-left: 1rem;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.meetups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.description {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  opacity: 0.85;
  text-align: center;
  line-height: 150%;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.link {
  color: dodgerblue;
  padding: 1rem;
  border-radius: 3px;
  &:hover {
    background: rgba(30, 143, 255, 0.089);
  }
}
