.meetups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.link {
  color: dodgerblue;
  padding: 1rem;
  border-radius: 3px;
  &:hover {
    background: rgba(30, 143, 255, 0.089);
  }
}
