header {
  min-height: 65vh;
  width: 100%;
  background-image: url("../../images/meetup-image-min.jpg");
  background-position: center;
  background-size: cover;
}

header .header-content {
  min-height: 65vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-content h1 {
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

header .header-content h2 {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  font-weight: normal;
  width: 450px;
  line-height: 30px;
}

header .header-content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  max-width: 600px;
  width: 100%;
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  header .header-content .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .header-content .info h2 {
  font-weight: 500;
  opacity: 0.75;
  font-size: 1.25em;
}

@media (max-width: 600px) {
  header .header-content .info h2 {
    text-align: center;
    padding-top: 1rem;
  }
  header .header-content .info h2:nth-child(even) {
    display: none;
  }
}

header .header-content .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 600px) {
  header .header-content .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .header-content h3 {
  color: white;
  text-align: center;
  padding-top: 1.5rem;
}

header .header-content .status-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: mediumaquamarine;
  color: white;
  padding: 1rem;
  width: 100%;
}

header .header-content .status-container h3 {
  font-size: 0.9em;
  padding: 0;
}

header .header-content .status-container-err {
  position: fixed;
  bottom: 0;
  left: 0;
  background: orangered;
  color: white;
  width: 100%;
  padding: 1rem;
}

header .header-content .status-container-err h3 {
  font-size: 0.9em;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */