.button {
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.85rem 1.4rem;
  font-size: 1.1em;
  cursor: pointer;
  &:hover {
    background: white;
    color: #222;
  }
  @media (max-width: 600px) {
    min-width: 200px;
    margin-bottom: 1.5rem;
  }
}
