.button {
  color: white;
  background: #f63f61;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.1s ease-in 0s;
  &:hover {
    opacity: 0.8;
    background: rgb(221, 62, 91);
    transition: 0.1s ease-in 0s;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 600px) {
    min-width: 200px;
    margin-bottom: 1.5rem;
  }
}

.buttonSecondary {
  color: white;
  background: #ff3e61;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.1s ease-in 0s;
  &:hover {
    opacity: 0.8;
    transition: 0.1s ease-in 0s;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 600px) {
    min-width: 200px;
    margin-bottom: 1.5rem;
  }
}
